.idea/
project/boot/
project/plugins/project/
target/
lifted/
*.result
passingCond/
out/
logs/
Math/

# GenProg stuff
coverage.path.neg
coverage.path.pos
FaultyStmtsAndWeights.txt
jacoco.exec
testcache.ser

.bloop/
.metals/
**/metals.sbt

.vscode/
null/